<%= form_tag({:action => 'index'}, {:method => :get}) do %>
  <%= label_tag "Data da pesquisa: " %>
  <%= text_field_tag "data_ini", params[:data_ini].to_i.zero? ? Time.now().strftime('%d-%m-%Y') : params[:data_ini], options = {:size => "10"} %> até 
  <%= text_field_tag "data_fim", params[:data_fim].to_i.zero? ? Time.now().strftime('%d-%m-%Y') : params[:data_fim], options = {:size => "10"} %>
  <%= submit_tag "Atualizar" %>
<% end %>

<% data_ini = params[:data_ini].to_i.zero? ? Time.now().strftime('%Y-%m-%d') : params[:data_ini] %>
<% data_fim = params[:data_fim].to_i.zero? ? Time.now().strftime('%Y-%m-%d') : params[:data_fim] %>

<% "Data da listagem: "  + data_ini + " até " + data_fim %><br />
<% button_to_function "Mensagem direta", "alert('Hello world!')", :class => "ok" %>
<% button_to_function "Muda valor", "troca()", :class => "ok" %>
<% link_to "Muda valor", "/busca" %>

<% a = Booking.new.get_vagas(data_ini, data_fim) %>
<div id="lista_quarto">
<% a.each do |room| %>
	<div class=<%= room['booking_count'].to_i > 0 ? "room_box_ocupped" : "room_box_free" %> > 
		<% link_to room['name'] + ' [' + room['booking_count']  + ']', Room.find(room['id']) %>
		<% link_to room['name'] + ' [' + room['booking_count']  + ']', new_booking_path, 'data-popup' => true %>
		<% link_to room['name'] + ' [' + room['booking_count']  + ']', {:controller => :bookings, :action => :new} %>
		<% link_to room['name'] + ' [' + room['booking_count']  + ']', new_booking_path %>
		<% link_to 'Tag it!', {:controller => "bookings", 
                       :method => :post, 
                       :action => "create"},
                       :room_id => room['id'] %>
		<%= link_to room['name'], new_booking_path(:room_id => room['id'], :entry => data_ini, :exit => data_fim) if room['booking_count'].to_i.zero? %>
		<%= link_to room['name'], edit_booking_path(Booking.find(room['booking_id'])) unless room['booking_count'].to_i.zero? %>
	</div>
<% end %>
</div>

<% request.path_parameters %><br />
<% request.query_parameters %><br />
<% request.request_parameters %><br />
<% params[:data_ini] %><br />
<% params["data_ini"] %><br />