<%= render :partial => "hint_view"  %>

<%= javascript_tag "  $(function() { $( \"#data_ini\" ).datepicker(); $( \"#data_fim\" ).datepicker(); });" %>

<%= render 'filtro' %>

<% data_ini = params[:data_ini].to_i.zero? ? Time.now().strftime('%d-%m-%Y') : params[:data_ini] %>
<% data_fim = params[:data_fim].to_i.zero? ? Time.now().strftime('%d-%m-%Y') : params[:data_fim] %>
<br />

<%= render 'atalho' %>
<br />
<br />

<div id="divLista_quarto">
<%= raw ocu %>
</div>

<% request.path_parameters %><br />
<% request.query_parameters %><br />
<% request.request_parameters %><br />
<% params[:data_ini] %><br />
<% params["data_ini"] %><br />