<%= simple_form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :room_id %>
  <%= f.collection_select(:room_id, Room.all, :id, :name) %>  <br />
  <%= f.label :entry %>
  <%= f.date_select :entry, {:order => [:day, :month, :year]} %><br />
  <%= f.label :exit %>
  <%= f.date_select :exit, {:order => [:day, :month, :year]} %>
  <%= f.input :client %>  
  <%= f.input :phone %>  
  <%= f.input :obs %>  
  <%= f.button :submit %>  
<% end %>
