<%= form_tag({:action => 'index'}, {:method => :get}) do %>
  <%= label_tag "Nome do cliente: " %>
  <%= text_field_tag "nome_cliente", "", options = {:size => "10"} %>
  <%= label_tag "Quarto: " %>
  <%= select_tag "room", options_for_select(Room.find(:all).collect{|star| [star.name, star.id]}, :selected => params[:room]), :include_blank => true  %> 
  <%= submit_tag "Pesquisar" %>
<% end %>

<div class="divRecurso">Reservas<%= link_to image_tag("Add.png", :border=>0, :align => :right), new_booking_path %></div>


<table cellpadding="2" cellspacing="0">
  <tr>
    <th>Quarto</th>
    <th>Entrada</th>
    <th>Saída</th>
    <th>Cliente</th>
    <th>Telefone</th>
    <th>Valor</th>
    <th>Obs</th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr <%= %>>
    <td><%= link_to booking.room.name, booking %></td>
    <td><%= booking.entry.strftime("%d/%m/%Y") %></td>
    <td><%= booking.exit.strftime("%d/%m/%Y") %></td>
    <td><%= booking.client %></td>
    <td><%= booking.phone %></td>
    <td><%= booking.value_entry %></td>
    <td><%= booking.obs %></td>
    <td><%= link_to image_tag("Modify.png", :border=>0), edit_booking_path(booking) %></td>
    <td><%= link_to image_tag("Delete.png", :border=>0), booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
